.media {
    padding: 5px;
    border: 1px solid lightgray;
}

.media_left {
    float: left;
}

.media_body {
    float: left;
    border: 1px solid red;
}

.media_body:after,
.media:after {
    clear:both;
    content: "";
    display: block;
}
